.jumbo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 940px;
    background-position: center;
    background-image: url('https://wallpapercave.com/wp/wp5587051.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;

    .info {
        margin-top: 130px;
        color: white;
        text-shadow: 1px 2px 5px black;
        
        h1 {
            padding: 50px;
            width: 1000px;
            font-size: 5rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 2rem;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            padding-bottom: 100px;
        }
    }
}

@media only screen and (max-width: 1000px){
    .jumbo {
        .info {
            transform: scale(0.78);
        }
    }
}

@media only screen and (max-width: 780px){
    .jumbo {
        .info {
            
            h1 {
                font-size: 3.5rem;
                width: 550px;
            }
        }
    }
}

@media only screen and (max-width: 561px){
    .jumbo {
        .info {
            h1 {
                font-size: 3rem;
                width: 400px;
            }
        }
    }
}