.projects {
    margin-top: 130px;
    height: 100%;
    background-image: url('https://swall.teahub.io/photos/small/95-958090_minimalistic-simple-background-trees-white-background-nice-and.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;

    .projects_wrapper {
        max-width: 1024px;
        margin: 0 auto;

        img {
            max-height: 600px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }
    }

    .br {
        width: 43px;
        height: 3px;
        background-color: black;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .projects_link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        button {
            a{
                color: currentColor;
                text-decoration: none;
            }
        }
    }
}