.projects {
    margin-top: 130px;
    height: 100%;
    background-image: url('https://swall.teahub.io/photos/small/95-958090_minimalistic-simple-background-trees-white-background-nice-and.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;

    .projects_wrapper {
        max-width: 1024px;
        margin: 0 auto;

        img {
            max-height: 600px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }
    }

    .br {
        width: 43px;
        height: 3px;
        background-color: black;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .projects_link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        button {
            a{
                color: currentColor;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 1105px){
    .projects {
        .projects_wrapper{
            max-width: 710px;

            img {
                max-height: 400px;
            }
        }
    }
}

@media only screen and (max-width: 790px){
    .projects {
        .projects_wrapper{
            max-width: 620px;

            img {
                max-height: 350px;
            }
        }

        .projects_link {
            transform: scale(0.9);
            gap: 30px;
        }
    }
}

@media only screen and (max-width: 700px){
    .projects {
        .projects_wrapper{
            max-width: 520px;

            img {
                max-height: 300px;
            }
        }

        .projects_link {
            transform: scale(0.8);
            gap: 30px;
        }
    }
}

@media only screen and (max-width: 600px){
    .projects {
        .projects_wrapper{
            display: none;
        }

        .br {
            margin-top: 0;
        }

        .projects_link {
            flex-direction: column;
            transform: scale(1);
            gap: 20px;
        }
    }
}