.footer {
    padding: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    background-image: url('https://img.freepik.com/free-vector/pastel-ombre-background-pink-purple_53876-120750.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;

    .social_wrapper {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .br {
            width: 43px;
            height: 3px;
            background-color: #000000;
            border: 1px solid black;
        }

        h1 {
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 36px;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 15px;

            span {
                color: #353535;
                letter-spacing: 1.5px;
            }
        }
    }
}

@media only screen and (max-width: 400px){
    .footer {
        padding: 30px;
        
        .social_wrapper {
            transform: scale(0.9);
        }
    }
}